
### creating database and connecting to database

In [ ]:
import mysql.connector
mydb=mysql.connector.connect( host="localhost" ,user="root", password="root" )
mycur=mydb.cursor()
mycur.execute("Create database mytest")
mycur.execute("show databases")

for db in mycur:
    print(db)
cur.close()
mydb.close()

### Create Table

In [5]:
import mysql.connector
mydb=mysql.connector.connect( host="localhost" ,user="root", password="root", database="mytest" )
mycur=mydb.cursor()
mycur.execute("create table book(bookid int auto_increment primary key,name varchar(200),author varchar(200),price float(6,2))")
mycur.execute("show tables")

for db in mycur:
    print(db)
mycur.close()
mydb.close()

('book',)

### Insert Data into Table

In [8]:
mydb=mysql.connector.connect( host="localhost" ,user="root", password="root", database="mytest" )
mycur=mydb.cursor()
mycur.execute("insert into book(name ,author , price ) values('let us c','Kanitkar',500.00)")
mydb.commit()
print(mycur.rowcount," inserted Successfully")

1  inserted Successfully

In [5]:
import mysql.connector
mydb=mysql.connector.connect( host="localhost" ,user="root", password="root", database="mytest" )
mycur=mydb.cursor()
sql= "insert into book(name,author,price) values(%s,%s,%s)"
lst=[]
for i in range(0,3):
    name=input("Enter book name:")
    author=input("Enter book author:")
    price=float(input("Enter book price"))
    lst.append((name,author,price))
mycur.executemany(sql,lst)
mydb.commit()
print(mycur.rowcount,"inserted successfully")

Enter book name:bug finder
Enter book author:rakesh
Enter book price200
Enter book name:nasa
Enter book author:amogh
Enter book price10
Enter book name:vaquash Teacher
Enter book author:Nico bhai
Enter book price100
3 inserted successfully

### Display database

In [9]:
import mysql.connector
mydb=mysql.connector.connect( host="localhost" ,user="root", password="root", database="mytest" )
mycur=mydb.cursor()
mycur.execute("select * from book")
lst=mycur.fetchall()
for l in lst:
    print(l)

(1, 'let us c', 'Kanitkar', 500.0)
(2, 'let us c', 'Kanitkar', 500.0)
(3, 'bug finder', 'rakesh', 200.0)
(4, 'nasa', 'amogh', 10.0)
(5, 'vaquash Teacher', 'Nico bhai', 100.0)

In [14]:
import mysql.connector
mydb=mysql.connector.connect( host="localhost" ,user="root", password="root", database="mytest" )
mycur=mydb.cursor()
mycur.execute("select * from book")
lst=mycur.fetchmany(3)
for l in lst:
    print(l)

(1, 'let us c', 'Kanitkar', 500.0)
(2, 'let us c', 'Kanitkar', 1000.0)
(3, 'bug finder', 'rakesh', 200.0)

In [11]:
import mysql.connector
mydb=mysql.connector.connect( host="localhost" ,user="root", password="root", database="mytest" )
mycur=mydb.cursor()
mycur.execute("select * from book")
lst=mycur.fetchone()
for l in lst:
    print(l)

1
let us c
Kanitkar
500.0

### Updating Records

In [15]:
mydb=mysql.connector.connect( host="localhost" ,user="root", password="root", database="mytest" )
mycur=mydb.cursor()
sql="Update book set price =%s where bookid=%s"
val=(2000,2)
mycur.execute(sql,val)
mydb.commit()
print(mycur.rowcount,"Update successfully")

1 Update successfully

### Delete Records

In [17]:
mydb=mysql.connector.connect( host="localhost" ,user="root", password="root", database="mytest" )
mycur=mydb.cursor()
sql="delete from book where bookid=%s"
val=(3,)
mycur.execute(sql,val)
mydb.commit()
print(mycur.rowcount,"Delete Successfully")

1 Delete Successfully

### Drop Table

In [ ]:
mydb=mysql.connector.connect( host="localhost" ,user="root", password="root", database="mytest" )
mycur=mydb.cursor()
sql="drop table book"
mycur.execute(sql)
print(mycur.rowcount,"Drop Successfully")
mycur.close()
mydb.close()