In [6]:
import pandas as pd
print(pd.__version__)
import numpy as np

1.5.3

In [4]:
lst=[1,2,3,4,5]
s=pd.Series(lst)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
t=(1,2,3,4,4,5,5)
s=pd.Series(t)
print(s)

0    1
1    2
2    3
3    4
4    4
5    5
6    5
dtype: int64

In [7]:
ar=np.arange(1,20)
s=pd.Series(ar)
print(s)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
dtype: int32

In [11]:
d={'a':11,'b':12,'c':13,'d':14}
s=pd.Series(d)
print(s)

a    11
b    12
c    13
d    14
dtype: int64

In [12]:
s.index #index values of your Series

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
s.dtype #data type of Series

dtype('int64')

In [20]:
s=pd.Series()
print(s)         #empty series , will give error but will create empty series

Series([], dtype: float64)

C:\Users\KARTIK\AppData\Local\Temp\ipykernel_10940\1848733685.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s=pd.Series()

In [26]:
lst=[1,2,3,4,5]
s=pd.Series(data=lst, index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [27]:
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [33]:
s.min()

1

In [35]:
s.max()

5

In [36]:
s.sum()

15

In [37]:
s.count()

5

In [38]:
s.head()  # by default 5 value will display from top

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [39]:
s.head(3)

a    1
b    2
c    3
dtype: int64

In [40]:
s.tail()   # by default 5 value will display from bottom

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [41]:
s.tail(3)

c    3
d    4
e    5
dtype: int64

In [42]:
s.info() #will give all info about series

<class 'pandas.core.series.Series'>
Index: 5 entries, a to e
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 80.0+ bytes

In [45]:
s.describe

<bound method NDFrame.describe of a    1
b    2
c    3
d    4
e    5
dtype: int64>

In [46]:
s.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [53]:
arr=np.arange(1,16)
s=pd.Series(arr)
print(s)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
dtype: int32

In [54]:
s[1] #indexing , return value

2

In [55]:
s[1:4]

1    2
2    3
3    4
dtype: int32

In [56]:
s.loc[1:4] #loc will add 4th value but in slicing it will not , it will work on index

1    2
2    3
3    4
4    5
dtype: int32

In [57]:
s.iloc[1:4]  #iloc is same as slicing but it is work on index

1    2
2    3
3    4
dtype: int32

In [59]:
s[14]

15

In [62]:
lst=['a','b',1.234,34,45]
s=pd.Series(lst)
print(s)

0        a
1        b
2    1.234
3       34
4       45
dtype: object

In [63]:
lst=[1,2,3,4,5]
s=pd.Series(data=lst, index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [64]:
s['e']

5

In [65]:
s['e']=200    #update the existing value 
s

a      1
b      2
c      3
d      4
e    200
dtype: int64

In [66]:
s['k']=233    # insert new value -- if index not avialable then it will add new value
s

a      1
b      2
c      3
d      4
e    200
k    233
dtype: int64

In [67]:
s+1

a      2
b      3
c      4
d      5
e    201
k    234
dtype: int64

In [68]:
s*3

a      3
b      6
c      9
d     12
e    600
k    699
dtype: int64

In [70]:
s[s>200]

k    233
dtype: int64

In [71]:
s[s>200]=40
s

a      1
b      2
c      3
d      4
e    200
k     40
dtype: int64

In [85]:
s=pd.Series([10,20,30,40,50], index=['a','b','c','d','e'])
s1=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(s)
print(s1)

a    10
b    20
c    30
d    40
e    50
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [86]:
s+s1

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [87]:
np.add(s,s1)

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [88]:
s.add(s1)

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [91]:
s['f']=100

In [92]:
s

a     10
b     20
c     30
d     40
e     50
f    100
dtype: int64

In [93]:
s+s1

a    11.0
b    22.0
c    33.0
d    44.0
e    55.0
f     NaN
dtype: float64

In [94]:
s.add(s1,fill_value = 69)

a     11.0
b     22.0
c     33.0
d     44.0
e     55.0
f    169.0
dtype: float64

In [96]:
del s['e']

In [97]:
s

a     10
b     20
c     30
d     40
f    100
dtype: int64